.container{
  width: 20%;
  max-width:900px;
  padding:300px;
  padding-top: 650px;
  height: 50px;
  padding-right: 260px;
}

 .social{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  
} 


.social{
  font-size: 35px;

}