.footer{
    display: flex;
    justify-content: center;
    align-items: self-end;
    height: 464px;
    width: 100%;
    background-color: var(--cream);
    left: 0px;
    flex-direction: row;
  }



.left{
    width: 40%;
    padding-left: 100px;
    height: 100px;
    
    
    
       
}
.right{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
    padding-right: 100px;
    height: 100px;
    
    
}

.center {
    width: 40%;
    display: flex;
    justify-content: center;
    height: 100px;


}

