:root {

    --dark-blue: #172339;
    --gray: #49566D;
    --cream: #F3EDE7;
    --white2: #FAF8F6;
    --lavanda: #A060FF;
    --fucsia: #CB30E3;
    --mostaza: #FFA84E;
    --buttongradientonehover: #A060FF, #FFA84E;

    

}