.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    background: transparent;
    width: 100%;
    position: absolute ;
    top: 50px;
    
}

.left1{
    width: 100%;
    padding-left: 100px;
    
}
.right1{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}